<div class="row">
  <div class="col-sm-6 col-md-3 d-print-none">
    <nav class="gobiernoLinea">
      <a href="http://www.legal.unal.edu.co" target="_top"
      >Régimen Legal</a
      >
      <a class="right-gob" href="http://personal.unal.edu.co" target="_top"
      >Talento humano</a
      >
      <a href="http://contratacion.unal.edu.co" target="_top"
      >Contratación</a
      >
      <a class="right-gob" href="http://personal.unal.edu.co" target="_top"
      >Ofertas de empleo</a
      >
      <a href="http://launalcuenta.unal.edu.co/" target="_top"
      >Rendición de cuentas</a
      >
      <a class="right-gob"
              href="http://docentes.unal.edu.co/concurso-profesoral/"
              target="_top"
      >Concurso docente</a
      >
      <a href="http://www.pagovirtual.unal.edu.co/" target="_top"
      >Pago Virtual</a
      >
      <a class="right-gob" href="http://controlinterno.unal.edu.co/" target="_top"
      >Control interno</a
      >
      <a href="http://siga.unal.edu.co" target="_top">Calidad</a>
      <a class="right-gob" href="http://unal.edu.co/buzon-de-notificaciones/" target="_self"
      >Buzón de notificaciones</a
      >
    </nav>
  </div>
  <div class="col-sm-6 col-md-3 d-print-none">
    <nav class="gobiernoLinea">
      <a href="http://correo.unal.edu.co" target="_top"
      >Correo institucional</a
      >
      <a class="right-gob" href="../index.html#">Mapa del sitio</a>
      <a href="http://redessociales.unal.edu.co" target="_top"
      >Redes Sociales</a
      >
      <a class="right-gob" href="../index.html#">FAQ</a>
      <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self"
      >Quejas y reclamos</a
      >
      <a class="right-gob" href="http://unal.edu.co/atencion-en-linea/" target="_self"
      >Atención en línea</a
      >
      <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
      <a class="right-gob" href="../contactenos.html">Contáctenos</a>
      <a href="http://estadisticas.unal.edu.co/" target="_top"
      >Estadísticas</a
      >
      <a class="right-gob" href="../index.html#">Glosario</a>
    </nav>
  </div>
  <div class="col-sm-7 col-md-4 contder flex-wrap">
    <div class="contacto me-auto">
      <b>Contacto página web:</b><br />
      Carrera 30 No 45A-03<br />
      Edif. Aulas de Ingeniería — 453<br />
      Bogotá D.C., Colombia<br />
      (+57 1) 316 5000 Ext. 14077
    </div>
    <div class="derechos">
      <a
              href="https://unal.edu.co/fileadmin/user_upload/docs/legal.pdf"
              target="_blank"
      >&copy; Copyright 2021</a
      ><br />
      Algunos derechos reservados.<br />
      <a
              title="Comuníquese con el administrador de este sitio web"
              href="mailto:mlds_fi_bog@unal.edu.co"
      >mlds_fi_bog@unal.edu.co</a
      ><br />
      <a href="../index.html#">Acerca de este sitio web</a><br />
      Actualización:11/08/23
    </div>
  </div>
  <div class="col-sm-5 col-md-2 asoc-img d-print-none">
    <div class="container">
      <div class="row row-cols-2">
        <div class="col icons-col">
          <div class="row">
            <a href="http://orgullo.unal.edu.co/">
            <img
                    class="img-fluid left-fluid"
                    alt="Orgullo UN"
                    src="../images/log_orgullo.png"
            />
              <img
                      class="d-none d-print-block img-fluid"
                      alt="Orgullo UN"
                      src="../images/log_orgullo_black.png"
              />
            </a>
          </div>
          <div class="row">
            <a
                    class="imgAgencia"
                    href="http://agenciadenoticias.unal.edu.co"
            >
              <img
                      class="img-fluid left-fluid"
                      alt="Agencia de Noticias"
                      src="../images/log_agenc.png"
              />
              <img
                      class="d-none d-print-block"
                      alt="Agencia de Noticias"
                      src="../images/log_agenc_black.png"
              />
            </a>
          </div>
        </div>
        <div class="col icons-col">
          <div class="row">
            <a href="https://www.gov.co/">
              <img
                      class="img-fluid right-fluid"
                      alt="Portal Único del Estado Colombiano"
                      src="../images/log_gobiern.png"
              />
            </a>
          </div>
          <div class="row">
            <a href="http://www.contaduria.gov.co/">
              <img
                      class="img-fluid right-fluid"
                      alt="Contaduría General de la República"
                      src="../images/log_contra.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>