<div class="logo">
    <a href="https://unal.edu.co">
        <div class="svg">
            <img width="98%"
                 src="../images/escudoUnal.svg"
                 class="d-print-none img-fluid"
                 alt="Escudo de la Universidad Nacional de Colombia"
            />
        </div>
    </a>
    <div
            style="position: absolute; top: 1px; width: 60px"
            class="d-none d-print-block"
    >
        <img width="93%"
             src="../images/escudoUnal_black.png"
             class="d-none d-print-block"
             alt="Escudo de la Universidad Nacional de Colombia"
        />
    </div>
</div>
<div id="pestania-accesibilidad-mobile" class="d-block d-md-none"></div>
<div class="seal me-2">
    <img
            class="d-print-none"
            alt="Escudo de la República de Colombia"
            src="../images/sealColombia.png"
            width="66"
            height="66"
    />
</div>
<!--menú contextual-->
<div class="firstMenu">
    <div class="content-fluid me-4">
        <!--prueba navbar-->
        <!--fin de prueba navbar-->
        <nav class="navbar nav navbar-toggler navbar-expand-md navbar-dark">
            <!-- perfiles -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-default flex-wrap">
                <nav id="profiles">
                    <ul class="me-auto nav justify-content-end">
                        <li class="nav-item item_Aspirantes">
                            <a class="firstItems" href="http://aspirantes.unal.edu.co">Aspirantes</a>
                        </li>
                        <li class="nav-item item_Estudiantes">
                            <a class="firstItems" href="http://estudiantes.unal.edu.co">Estudiantes</a>
                        </li>
                        <li class="nav-item item_Egresados">
                            <a class="firstItems" href="http://egresados.unal.edu.co">Egresados</a>
                        </li>
                        <li class="nav-item item_Docentes">
                            <a class="firstItems" href="http://docentes.unal.edu.co">Docentes</a>
                        </li>
                        <li class="nav-item item_Administrativos">
                            <a class="firstItems" href="http://administrativos.unal.edu.co"
                            >Administrativos</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- redes sociales -->
            <ul class="socialLinks d-none d-md-block">
                <li>
                    <a
                            href="https://www.facebook.com/UNALOficial"
                            target="_blank"
                            class="facebook"
                            title="Página oficial en Facebook"
                    ></a>
                </li>
                <li>
                    <a
                            href="https://twitter.com/UNALOficial"
                            target="_blank"
                            class="twitter"
                            title="Cuenta oficial en Twitter"
                    ></a>
                </li>
                <li>
                    <a
                            href="https://www.youtube.com/channel/UCnE6Zj2llVxcvL5I38B0Ceg"
                            target="_blank"
                            class="youtube"
                            title="Canal oficial de Youtube"
                    ></a>
                </li>
            </ul>
            <!-- idioma -->
            <div id="idioma" class="btn-group d-print-none">
                <button
                        type="button"
                        class="btn btn-secondary language-button"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        aria-expanded="false"
                >
                    ES
                </button>

            </div>
        </nav>
    </div>
</div>
<!-- Menú inferior -->
<div id="bs-navbar" class="navigation">
    <!-- Título del sitio -->
    <div class="container-fluid myb d-print-inline-block">
        <div class="site-url row d-print-none" id="subdominio">

            <a class="h4" href="https://site.mlds.unal.edu.co/" target="_self"
            >MLDS</a
            >
        </div>
    <!-- Buscador -->
    <div class="buscador" id="buscador">
        <div id="___gcse_0">
            <div class="gsc-control-searchbox-only gsc-control-searchbox-only-es" dir="ltr">
                <form class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8" target="_blank" action="https://unal.edu.co/resultados-de-la-busqueda/">
                    <table role="presentation" class="gsc-search-box">
                        <tbody>
                            <tr>
                                <td class="gsc-input">
                                    <div class="gsc-input-box" id="gsc-iw-id1">
                                        <table cellspacing="0" cellpadding="0" role="presentation" id="gs_id50" class="gstl_50 gsc-input" style="width: 100%; padding: 0px;">
                                            <tbody>
                                                <tr>
                                                    <td id="gs_tti50" class="gsib_a">
                                                        <input autocomplete="off" type="text" size="10" class="gsc-input" name="q" title="buscar" aria-label="buscar" id="gsc-i-id1" dir="ltr" spellcheck="false" placeholder="Buscar en la Universidad">
                                                    </td>
                                                    <td class="gsib_b">
                                                        <div class="gsst_b" id="gs_st50" dir="ltr">
                                                            <a class="gsst_a" href="javascript:void(0)" title="Borrar contenido del cuadro de búsqueda" role="button" style="display: none;">
                                                                <span class="gscb_a" id="gs_cb50" aria-hidden="true">×</span>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td class="gsc-search-button">
                                    <button class="gsc-search-button gsc-search-button-v2">
                                        <svg width="13" height="13" viewBox="0 0 13 13">
                                            <title>buscar</title>
                                            <path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
    
    <!-- Main menu -->
    <nav class="navbar navbar-expand-md navbar-dark menuPrincipal">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="navbarNav" class="navbar-nav flex-wrap">
                    <!--
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle navItems"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Líneas de Investigación
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                        class="dropdown-item navItems"
                                        href="../investigaciones/lenguajes.html"
                                >Lenguajes de programación</a
                                >
                            </li>
                            <li>
                                <a
                                        class="dropdown-item navItems"
                                        href="../investigaciones/educacion.html"
                                >Educación en ingeniería</a
                                >
                            </li>
                            <li>
                                <a
                                        class="dropdown-item navItems"
                                        href="../investigaciones/embebidos.html"
                                >Sistemas embebidos confiables</a
                                >
                            </li>
                            <li>
                                <a
                                        class="dropdown-item navItems"
                                        href="../investigaciones/transporte.html"
                                >Sistemas Inteligentes de Transporte - ITS</a
                                >
                            </li>
                            <li>
                                <a
                                        class="dropdown-item navItems"
                                        href="../investigaciones/agricultura.html"
                                >Agricultura de precisión</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../integrantes.html">Integrantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../proyectos/proyectos.html"
                        >Proyectos</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../publicaciones.html"
                        >Publicaciones</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../recursos.html">Recursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../semilleros/semilleros.html">Semilleros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="../contactenos.html">Contáctenos</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link navItems" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItems" href="https://mlds.unal.edu.co">Plataforma de cursos</a>
                    </li>
                </ul>
            </div>
            <div
                    class="collapse navbar-collapse menuSedes"
                    id="navbarSupportedContent"
            >
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle navItems me-2"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Sedes
                        </a>
                        <ul class="dropdown-menu" id="sedes">
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://amazonia.unal.edu.co"
                                        target="_blank"
                                >Amazonia</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://bogota.unal.edu.co"
                                        target="_blank"
                                >Bogotá</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://caribe.unal.edu.co"
                                        target="_blank"
                                >Caribe</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://delapaz.unal.edu.co"
                                        target="_blank"
                                >De La Paz</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://www.manizales.unal.edu.co"
                                        target="_blank"
                                >Manizales</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://medellin.unal.edu.co"
                                        target="_blank"
                                >Medellín</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://orinoquia.unal.edu.co"
                                        target="_blank"
                                >Orinoquia</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://www.palmira.unal.edu.co"
                                        target="_blank"
                                >Palmira</a
                                >
                                <span class="caret-right"></span>
                            </li>
                            <li>
                                <a
                                        class="dropdown-item"
                                        href="http://tumaco-pacifico.unal.edu.co"
                                        target="_blank"
                                >Tumaco</a
                                >
                                <span class="caret-right"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div
                        class="collapse navbar-collapse menuProfiles"
                        id="navbarSupportedContent"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                Perfiles
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item item_Aspirantes">
                                    <a href="http://aspirantes.unal.edu.co">Aspirantes</a>
                                </li>
                                <li class="nav-item item_Estudiantes">
                                    <a href="http://estudiantes.unal.edu.co">Estudiantes</a>
                                </li>
                                <li class="nav-item item_Egresados">
                                    <a href="http://egresados.unal.edu.co">Egresados</a>
                                </li>
                                <li class="nav-item item_Docentes">
                                    <a href="http://docentes.unal.edu.co">Docentes</a>
                                </li>
                                <li class="nav-item item_Administrativos">
                                    <a href="http://administrativos.unal.edu.co"
                                    >Administrativos</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div
                        class="collapse navbar-collapse menuServices"
                        id="navbarSupportedContent"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                Servicios
                            </a>
                            <ul class="dropdown-menu" id="servicios">
                                <li>
                                    <a class="services" href="http://correo.unal.edu.co" target="_blank">
                                        <img
                                                src="../images/icnServEmail.png"
                                                width="32"
                                                height="32"
                                                alt="Correo Electrónico"
                                        />Correo Electrónico
                                    </a>
                                </li>
                                <li>
                                    <a href="https://dninfoa.unal.edu.co" target="_blank">
                                        <img
                                                src="../images/icnServSia.png"
                                                width="32"
                                                height="32"
                                                alt="Dirección Nacional de Información Académica"
                                        />DNINFOA - SIA
                                    </a>
                                </li>
                                <li>
                                    <a href="http://bibliotecas.unal.edu.co" target="_blank"
                                    ><img
                                            src="../images/icnServLibrary.png"
                                            width="32"
                                            height="32"
                                            alt="Biblioteca"
                                    />Bibliotecas</a
                                    >
                                </li>
                                <li>
                                    <a href="http://personal.unal.edu.co" target="_blank"
                                    ><img
                                            src="../images/icnServCall.png"
                                            width="32"
                                            height="32"
                                            alt="Convocatorias"
                                    />Convocatorias</a
                                    >
                                </li>
                                <li>
                                    <a href="http://identidad.unal.edu.co">
                                        <img
                                                src="../images/icnServIdentidad.png"
                                                width="32"
                                                height="32"
                                                alt="Identidad UNAL"
                                        />Identidad UNAL
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> 
</div>