<div id="mySidebar" class="sidebar hsidebar">
  <div class="indicator d-none d-md-block"></div>
  <ul id="services">
    <li>
      <a href="http://correo.unal.edu.co" target="_blank">
        <img
                src="../images/icnServEmail.png"
                width="32"
                height="32"
                alt="Correo Electrónico"
        />Correo Electrónico
      </a>
    </li>
    <li>
      <a href="https://dninfoa.unal.edu.co" target="_blank">
        <img
                src="../images/icnServSia.png"
                width="32"
                height="32"
                alt="Dirección Nacional de Información Académica"
        />DNINFOA - SIA
      </a>
    </li>
    <li>
      <a href="http://bibliotecas.unal.edu.co" target="_blank"
      ><img
              src="../images/icnServLibrary.png"
              width="32"
              height="32"
              alt="Biblioteca"
      />Bibliotecas</a
      >
    </li>
    <li>
      <a href="http://personal.unal.edu.co" target="_blank"
      ><img
              src="../images/icnServCall.png"
              width="32"
              height="32"
              alt="Convocatorias"
      />Convocatorias</a
      >
    </li>
    <li>
      <a href="http://identidad.unal.edu.co">
        <img
                src="../images/icnServIdentidad.png"
                width="32"
                height="32"
                alt="Identidad UNAL"
        />Identidad UNAL
      </a>
    </li>
  </ul>
</div>
<div id="main" class="hsidebar">
  <div class="openbtn" id="openbtnId" onclick="toggleNav() "></div>
</div>